body {
  counter-reset: verso estrofa;
  background-color: rgb(221, 191, 151);

}

#estrofa {

  background-color: rgb(228, 228, 14) ;
  
}

p{

  background-color: rgb(142, 181, 218);
  max-width: 25%;
  
}


h2::before {

  counter-increment: estrofa;

  content: "" counter(estrofa) ": ";

}

p::before {

  counter-increment: verso;


  content: "Verso-" counter(verso) ": ";
 
}