/* CSS for responsive layout */

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}


body{

    font-family: 'Trebuchet MS';
    background-color: rgb(219, 201, 182);
}

.navbar a {
    color: #fff;
    margin-right: 10px;
}

/* Main content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#ifr{

height: 700;
width: 800;

}

#caja1 {
    margin-bottom: 20px;
}
#caja2 {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#foto {
    width: 100%;
    text-align: center;
}

#portaFoto img {
    max-width: 100%;
    height: auto;
}

#show-modal{
  position: fixed;
  display: flex;
  margin-top: 20%;
  margin-left: 45%;
  color: white;
  background: #1926A6;
  text-align: center;
  justify-content: center;
  padding: 15px 15px;
  font-weight: 500;
  font-size: 1.5em;
  border-radius: 3.5px;
  text-decoration: none;
}

.modal{
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 100;
}

/* Interior de la ventana emergente | Ajuste de la posicion  y relleno del texto | */
.modal .content-modal{
  background: #d5e72f;
  position: fixed;
  width: 100%;
  left: 15%;
  max-width: 1000px;
  border-radius: 2px;
  z-index: 99;
  font-size: small;
}


/* Interior de la ventana emergente | Ajuste del texto | */
.modal h2{
  color: var(--textTitle);
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

#modaltext{
  text-align: center;
}

/* Ventana emergente modal | Tamaño | Background | */
.modal article{
  background: #d5e72f;
  height: 700px;
}

.modal:target{
  opacity: 1;
  top: 0;
}

/* Boton para cerrar la ventana emergente*/
.modal .button-close-modal{
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 2em;
  z-index: 101;
}

/* Hover para cerrar la ventana emergente*/
.modal .button-close-modal:hover{
  color: red;
  cursor: pointer;
}

.modal:target .content-modal{
  top: 50px;
  transition: top 0.35s ease;
}

@media (max-width:796px){
  .modal .content-modal{
      width: 90%;
      max-width: none;
      left: 5%;
      margin-left: 0;
  }
}




/* Footer */
.footer {
    background-color: #ccc0c0;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
#esquina {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#esquina a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

#esquina a:hover {
    text-decoration: underline;
}

#contenedorArticles {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    padding-top: -50px;
  }
  
  .cajaArticle {
    width: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    background-color: rgb(104, 103, 102);
    margin: 10px;
  }
  
  .cajaArticle:nth-child(odd) {
  
    background-color: rgb(191, 202, 212);
  }
  
  .cajaArticle:nth-child(even) {
  
    background-color: rgb(187, 169, 120);
  }
  
  p::first-letter {

    font-size: x-large;
  }
  
  a:active {
  
    color: aliceblue;
  }
  
  a:visited {
  
    color: bisque;
  
  }